# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Contact Gateway
logs/
*.jar
felix-cache/
storage/
core-modules/
output/